body, html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('background.jpeg'); /* Replace with the path to your image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.content {
    text-align: center;
    color: white;
    margin-top: -80px; /* Adjust this value as needed */
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin-bottom: 2px; /* Reduces space below h1, adjust as needed */

}

.subheading {
    font-size: 1.5em;
    margin-top: 0; /* Reduces space above subheading, adjust as needed */

}

a {
    color: #ADD8E6; /* Light blue color; adjust as needed */
    font-size: 1.2em;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white; /* Adjust color as needed */
    font-size: 0.8em;
    padding: 10px 0;
}

